# Virtual environment
venv/
.env/

# Python cache files
__pycache__/
*.pyc

# IDE / Editor files
.vscode/
.idea/

# macOS files
.DS_Store

# Logs
*.log

# Environment variables
.env
grid_python

# python __pycache__ file
__pycache__