astroid==4.0.3
asttokens==3.0.1
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.1.4
charset-normalizer==3.4.4
comm==0.2.3
decorator==5.2.1
dill==0.4.1
executing==2.2.1
idna==3.11
ipython==9.10.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isort==7.0.0
jedi==0.19.2
jupyterlab_widgets==3.0.16
lxml==6.0.2
matplotlib-inline==0.2.1
mccabe==0.7.0
parso==0.8.6
pexpect==4.9.0
pillow==12.1.1
platformdirs==4.5.1
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
pylint==4.0.4
requests==2.32.5
Send2Trash==2.1.0
soupsieve==2.8.3
stack-data==0.6.3
tomlkit==0.14.0
traitlets==5.14.3
typing_extensions==4.15.0
urllib3==2.6.3
wcwidth==0.6.0
widgetsnbextension==4.0.15
XLML==0.1.2
